@use "../theme/themes";
@use "../base/base" as *;

.tags
{
	display  : flex;
	flex-wrap: wrap;
	gap      : .5rem;
	font-size: .7rem;

	.tag
	{
		border        : 1px solid var( --border );
		border-radius : .8em;
		color         : var( --primary );
		font-weight   : bold;
		padding       : .2em .5em;
		position      : relative;
	}

	.tag:before
	{
		content: "#";
	}


	  .tag:hover
	, .filter__active
	{
		background: var( --primary );
		color     : var( --alt-txt );
		cursor    : pointer;
		gap       : .5rem;
	}
}


@media( min-width: $three-columns )
{
	.tags
	{
		font-size: .75rem;
	}
}
