/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*:focus,
button:focus,
li[aria-selected=true] {
  outline: none;
  position: relative;
}
*:focus::after,
button:focus::after,
li[aria-selected=true]::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid var(--alt-bg);
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  z-index: 50;
}

input:focus,
textarea:focus {
  outline: 3px solid var(--accent);
}

body {
  font-family: DMSans;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.theme-light {
  --alt-bg: #525252;
  --alt-txt: #fafafa;
  --alt-txt90: rgba( 250, 250, 250, .9);
  --border: #c4c4c4;
  --color-bg: #db8876;
  --main-bg: white;
  --main-bg90: rgba(255, 255, 255, .9);
  --overlay: grey;
  --price: #757575;
  --primary: #901c1c;
  --secondary: #d3573c;
  --accent: #76dbbe;
  --contact-close: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(78deg) brightness(108%) contrast(107%);
  --heart-color: invert(14%) sepia(98%) saturate(1883%) hue-rotate(346deg) brightness(103%) contrast(93%);
}

/*
 * Theme support is provided through CSS variables. To add a theme:
 * 1. Copy _theme-light.scss and rename it.
 * 2. Modify the class name and color values.
 * 3. Add a @use statement for it below.
 * 4. Modify the class on the body in html pages.
 */
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: normal;
  src: url("../theme/font/DM_Sans/DMSans-Regular.ttf");
}
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: 600;
  src: url("../theme/font/DM_Sans/DMSans-Medium.ttf");
}
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: bold;
  src: url("../theme/font/DM_Sans/DMSans-Bold.ttf");
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.7rem;
}
.tags .tag {
  border: 1px solid var(--border);
  border-radius: 0.8em;
  color: var(--primary);
  font-weight: bold;
  padding: 0.2em 0.5em;
  position: relative;
}
.tags .tag:before {
  content: "#";
}
.tags .tag:hover,
.tags .filter__active {
  background: var(--primary);
  color: var(--alt-txt);
  cursor: pointer;
  gap: 0.5rem;
}

@media (min-width: 75rem) {
  .tags {
    font-size: 0.75rem;
  }
}
.portrait {
  --size: 15rem;
  --shadow-size: .3rem;
  display: block;
  height: calc( var(--size) + var(--shadow-size) );
  margin: 0 auto;
  position: relative;
  width: calc( var(--size) + var(--shadow-size) );
}
.portrait .portrait--img {
  border-radius: 50%;
  height: var(--size);
  object-fit: cover;
  position: relative;
  width: var(--size);
}
.portrait .portrait--shadow {
  background: radial-gradient(circle at center, transparent 0%, transparent 59%, var(--main-bg90) 60%, var(--main-bg) 68%);
  height: calc( var(--size) + var(--shadow-size) );
  left: -0.05rem;
  /* Prevents a dark line right at the edge of the shadow */
  position: absolute;
  top: -0.05rem;
  width: calc( var(--size) + var(--shadow-size) );
  z-index: 1;
}

@media (min-width: 75rem) {
  .profile-heading .portrait .portrait--shadow {
    background: radial-gradient(circle at center, transparent 0%, transparent 59%, var(--alt-txt90) 60%, var(--alt-txt) 68%);
  }
}
.profile-summary {
  text-align: center;
  font-size: 0.6rem;
}
.profile-summary a {
  position: relative;
}
.profile-summary a::after {
  left: -1rem;
  top: -0.8rem;
}
.profile-summary p {
  margin: 0.3rem;
}
.profile-summary .name {
  color: var(--secondary);
  font-size: 2.2rem;
  font-weight: normal;
  margin: 0;
}
.profile-summary .location {
  color: var(--primary);
  font-size: 0.8rem;
}
.profile-summary .price {
  color: var(--price);
}
.profile-summary .tags {
  justify-content: center;
}

@media (min-width: 75rem) {
  .profile-summary .portrait {
    --size: 15rem;
    --shadow-size: .25rem;
  }
  .profile-summary .name {
    font-size: 2.2rem;
  }
  .profile-summary .location {
    font-size: 0.9rem;
  }
  .profile-summary .tagline, .profile-summary .price {
    font-size: 0.6rem;
  }
}
/*
	CSS style for FishEye. Openclassrooms course Front-End Developer, project 6.
	Written by Tycho Dekie ( oo <on> mailoo.org ).

	License: Unlicense (https://unlicense.org/);

	Doesn't validate in the W3C validator because the validator is outdated:
	See https://github.com/w3c/css-validator/issues/111
 */
body {
  display: grid;
  max-width: 100vw;
  grid-auto-flow: row;
  padding: 1rem 0.5rem;
  grid: "logo nos " "tags tags"/50% 50%;
}

header,
main,
#profiles {
  display: contents;
}

.logo {
  grid-area: logo;
  max-width: 100%;
  width: 9.5rem;
}

.nos {
  align-self: center;
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: normal;
  grid-area: nos;
  text-align: right;
}

header > nav {
  grid-area: tags;
}
header > nav .tags {
  justify-content: center;
  margin-top: 1.7rem;
  text-transform: capitalize;
}

.profile-summary {
  grid-column-end: span 2;
  max-width: 100vw;
  margin-top: 1.3rem;
}

#contenu-link {
  display: none;
}

@media (min-width: 22.5rem) {
  body {
    padding: 2.5rem 1rem;
  }
}
@media (min-width: 75rem) {
  html {
    max-width: 1440px;
    margin: 0 auto;
  }

  body {
    padding: 2.5rem 3rem;
    grid: "logo tags nos" "prof prof prof";
  }

  .logo {
    margin-left: min(3.3vw, 3rem);
    width: 14rem;
  }

  nav > .tags {
    margin: 1rem;
  }

  .nos {
    align-self: start;
    font-size: 2.3rem;
    font-weight: normal;
    margin: 0;
    margin-right: min(5.5vw, 5rem);
  }

  #profiles {
    display: grid;
    gap: 2rem;
    grid-area: prof;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;
    margin-top: 2rem;
  }

  .profile-summary {
    grid-column-end: unset;
  }

  #contenu-link {
    background-color: var(--color-bg);
    border-radius: 0.4rem;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    left: 50%;
    padding: 0.3rem 0.5rem;
    position: fixed;
    top: 0.3rem;
    transform: translateX(-50%);
    z-index: 2;
  }
}
