/*
	CSS style for FishEye. Openclassrooms course Front-End Developer, project 6.
	Written by Tycho Dekie ( oo <on> mailoo.org ).

	License: Unlicense (https://unlicense.org/);

	Doesn't validate in the W3C validator because the validator is outdated:
	See https://github.com/w3c/css-validator/issues/111
 */

@use "../vendor/normalize-v8.0.1.css";
@use "../base/base" as *;
@use "../theme/themes";
@use "../theme/font";
@use "../layout/profile-heading";
@use "../layout/gallery";
@use "../component/contact";
@use "../component/dropdown";


body
{
	--body-padding-hz: 1.2rem;
	--body-padding-vt: 2.2rem;

	display  : grid;
	padding  : var( --body-padding-vt ) var( --body-padding-hz );

	grid:

		"logo"
		"heading"
		"cards"
		/minmax(0, 1fr)
	;

	grid-auto-flow: row;
}


#likes-price
{
	display: none;
}


.body__carousel
{
	align-items: center;
	display    : flex;
	height     : 100vh;
	max-height : 100vh;
	max-width  : 100vw;
	overflow   : hidden;
	padding    : 0;
	width      : 100vw;


	  header
	, .profile-heading
	, .gallery
	{
		display: none;
	}


	.carousel
	{
		display   : grid;
		max-height: 100vh;
		max-width : 100vw;


	}

	#likes-price
	{
		display: none;
	}
}


.carousel
{
	display: none;
}


  header
, main
{
	display: contents;
}


.logo
{
	position : relative;
	width    : 10rem;

	> img
	{
		grid-area: logo;
		width    : 10rem;
	}
}


.profile-heading
{
	grid-area: heading;
	margin   : 1rem 0 2rem;


	.portrait
	{
		margin-right: calc( 0rem - 2* var(--shadow-size) );
	}


	#button--contact
	{
		bottom   : 2rem;
		left     : 50%;
		position : fixed;
		transform: translateX(-50%);
	}
}



@media ( min-width: $three-columns ) // roughly 1200px
{
	body
	{
		max-width: min( 100vw, 120rem );
		margin: 0 auto;

		--body-padding-hz: min( 6.6vw, 6rem );
		--body-padding-vt: 2.5rem;
	}


	.body__carousel
	{
		max-height: 100vh;
	}


	#likes-price
	{
		background-color: var( --color-bg );
		border-radius   : .3rem .3rem 0 0;
		bottom          : 0;
		display         : block;
		font-size       : 1.5rem;
		font-weight     : 600;
		padding         : 1rem;
		position        : fixed;
		right           : 2rem;
		z-index         : 50;

		.likes
		{
			margin-right: 2rem;

			img
			{
				margin-left: .5rem;
				width: 1.1rem;
			}
		}
	}


	.logo > img
	{
		width: 13rem;
	}


	.profile-heading
	{
		margin-top: 2rem;


		#button--contact
		{
			bottom   : unset;
			left     : unset;
			position : relative;
			transform: unset;
		}


		.profile--align
		{
			align-items: center;
		}
	}
}


