// media query sizes.
//
$iphone       : 22.5rem ; // roughly 360px
$three-columns: 75rem   ; // roughly 1200px

*
{
	box-sizing: border-box;
}


  *:focus
, button:focus
, li[aria-selected="true"]
{
	outline : none;
	position: relative;

	&::after
	{
		content         : "";
		width           : .75rem;
		height          : .75rem;
		border-radius   : 50%;
		background-color: var( --accent );
		border          : 1px solid var( --alt-bg );
		position        : absolute;
		top             : -.5rem;
		left            : -.5rem;
		z-index         : 50;
	}
}


  input:focus
, textarea:focus
{
	outline: 3px solid var( --accent );
}


body
{
	font-family: DMSans;
}

a
{
	color: inherit;
	text-decoration: none;
}


// This has !important because we want it to work on elements where we have to
// set the display value.
//
// Javascript will add and remove this class to hide elements.
//
.hide
{
	display: none !important;
}

